<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Action Form</title>
</head>
<body>
<div class="selectAccount">
    <label>
        <select th:value="${accountType}" name="accountType">
            <option selected="selected" value="primary">Primary Account</option>
            <option value="savings">Savings Account</option>
        </select>
    </label>
</div>
<label>
    <input type="text" th:value="${amount}" name="amount">
</label>
<button class="submit" type="submit">SUBMIT</button>
</body>
</html>