input[type=text] {
    border: 2px solid red;
}

input:hover, select:hover {
    background-color: #FFCCCB;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
    border-radius: 3px;
    border: 2px solid red;
}

.submit {
    border: 2px solid red;
}

.submit:hover{
    background-color: red;
}
