<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">
	<title>Sign In</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://localhost:63342/bank-system/src/main/resources/static/sign-in/signIn.css">
</head>
<body>
	<div class="login-page">
		<div class="form">
			<label class="errorMessage" th:if="${param.error}"><strong>Invalid username or password!</strong></label>
			<label class="errorMessage" th:if="${emptyUsername}"><strong>Please, input username!</strong></label>
			<form class="login-form" th:action="@{/index}" method="post">
				<input type="text" placeholder="username" name="username"/>
				<input type="password" placeholder="password" name="password"/>
				<button type="submit">login</button>
				<p class="message">Not registered? <a href="/showForm">Create an account</a></p>
			</form>
		</div>
</div>
</body>
</html>