<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header">
    <meta charset="UTF-8">
    <title>Savings Account</title>
    <link rel="stylesheet" href="http://localhost:63342/bank-system/src/main/resources/static/user-front/userFront.css">
</head>
<body>

    <div class="second" id="savingsBalance">
        <span id="savingsBalanceText">Savings Balance:</span>
        <span th:text="${savingsAccount.accountBalance}"></span> $
    </div>

    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Type</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Available Balance</th>
        </tr>
        <tr data-th-each="savingsTransaction : ${savingsTransactions}">
            <td data-th-text="${savingsTransaction.date}">...</td>
            <td data-th-text="${savingsTransaction.description}">...</td>
            <td data-th-text="${savingsTransaction.type}">...</td>
            <td data-th-text="${savingsTransaction.status}">...</td>
            <td data-th-text="${savingsTransaction.amount}">...</td>
            <td data-th-text="${savingsTransaction.availableBalance}">...</td>
        </tr>
    </table>
</body>
</html>