<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Front</title>
    <link rel="stylesheet" href="http://localhost:63342/bank-system/src/main/resources/static/user-front/userFront.css">
    <link rel="stylesheet" href="http://localhost:63342/bank-system/src/main/resources/static/header.css">
</head>
<body>

<div th:replace="common/header"></div>

<div class="main">
    <div class="first" id="primaryBalance">
        <span id="primaryBalanceText">Primary Balance:</span>
        <span th:text="${primaryAccount.accountBalance}"></span> $
    </div>
    <a th:href="@{/account/showFormForDeposit}">
        <div class="first" id="deposit">
            <span class="actionInfo">Make A Deposit</span>
            <img class="photo" th:onclick="@{/account/showFormForDeposit}" src="http://localhost:63342/bank-system/src/main/resources/static/user-front/images/money-deposit.png" alt="Photo">
        </div>
    </a>
</div>

<div class="main">
    <div class="second" id="savingsBalance">
        <span id="savingsBalanceText">Savings Balance:</span>
        <span th:text="${savingsAccount.accountBalance}"></span> $
    </div>
    <a th:href="@{/account/showFormForWithdraw}">
        <div class="second" id="withdraw">
            <span class="actionInfo">Go To Withdrawal</span>
            <img class="photo" th:onclick="@{/account/showFormForWithdraw}" src="http://localhost:63342/bank-system/src/main/resources/static/user-front/images/money-withdrawal.png" alt="Photo">
        </div>
    </a>
</div>
</body>
</html>